# Useful variables
ip_address=$(/sbin/ip -o -4 addr list tun0 | awk '{print $4}' | cut -d/ -f1)

# File association
alias -s {html,css,js,txt,log,py,rb,php,asp,aspx,c}=code

# Common commands
alias cls="clear"
alias ping="ping -c 4"
alias myip="curl http://ipecho.net/plain; echo"
alias update="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y"
alias df="df -H"
alias reload="source ./.zshrc"

# Environment shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias sf="cd /media/share"

# Pentest shortcuts
alias ssploit="searchsploit "
alias stty_raw="stty raw -echo; fg"

# Python
alias python_http="echo wget $ip_address:8000/; python3 -m http.server 8000"

# Get stuff faster
# Privesc
alias get_linpes="wget https://github.com/carlospolop/PEASS-ng/raw/master/linPEAS/linpeas.sh -O linpeas.sh"
alias get_winpeas_any="wget https://github.com/carlospolop/PEASS-ng/raw/master/winPEAS/winPEASexe/binaries/Release/winPEASany.exe -O winpeas.exe"
alias get_winpeas_x64="wget https://github.com/carlospolop/PEASS-ng/raw/master/winPEAS/winPEASexe/binaries/x64/Release/winPEASx64.exe -O winpeas.exe"
alias get_winpeas_x86="wget https://github.com/carlospolop/PEASS-ng/blob/master/winPEAS/winPEASexe/binaries/x86/Release/winPEASx86.exe -O winpeas.exe"
alias get_winpeas_bat="wget https://github.com/carlospolop/PEASS-ng/raw/master/winPEAS/winPEASbat/winPEAS.bat -O winpeas.bat"
